<h1 align="center">大学</h1>

<table width=100% align="center">
  <tr hight=30% width=100%>
    <td align="center">４年制大学</tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">短期大学</tb>
　</tr>

  <tr>
    <td align="center">
      <%= form_tag('/document2') do %>
        <p>
        学部名（部分一致）
        <br>
        <%= text_field_tag 'search[kinds]', session[:search_kinds] %><%= submit_tag '検索' %>
        </p>
        <%= hidden_field_tag :kubun, 21 %>
      <% end %>
    </tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">
      <%= form_tag('/document2') do %>
        <p>
        学科名（部分一致）
        <br>
        <%= text_field_tag 'search[kinds2]', session[:search_kinds2] %><%= submit_tag '検索' %>
        </p>
        <%= hidden_field_tag :kubun, 22 %>
      <% end %>
    </tb>
  </tr>

  <tr>
    <td align="center"><%= link_to '国公立', '/document6' %></tb>
    <td align="center"><%= link_to '４年制大学', '/document5' %></tb>
    <td align="center"><%= link_to '短期大学', '/document7' %></tb>
    <td align="center"><%= link_to '国公立', '/document8' %></tb>
  </tr>

  <tr>
    <td align="center">私立</tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">私立</tb>
  </tr>

  <tr>
    <td align="center">
      <%= form_tag('/document2') do %>
        <p>
        学部名（部分一致）
        <br>
        <%= text_field_tag 'search[kinds3]', session[:search_kinds3] %><%= submit_tag '検索' %>
        </p>
        <%= hidden_field_tag :kubun, 212 %>
      <% end %>
    </tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">
      <%= form_tag('/document2') do %>
        <p>
        学科名（部分一致）
        <br>
        <%= text_field_tag 'search[kinds4]', session[:search_kinds4] %><%= submit_tag '検索' %>
        </p>
        <%= hidden_field_tag :kubun, 222 %>
      <% end %>
    </tb>
  </tr>

  <tr>
    <td align="center">
      <%= form_tag('/document2') do %>
        <p>
        学校名（部分一致）
        <br>
        <%= text_field_tag 'search[name]', session[:search_name] %><%= submit_tag '検索' %>
        </p>
        <%= hidden_field_tag :kubun, 212 %>
      <% end %>
    </tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">
      <%= form_tag('document2') do %>
        <p>
        学校名（部分一致）
        <br>
        <%= text_field_tag 'search[name2]', session[:search_name2] %><%= submit_tag '検索' %>
        </p>
        <%= hidden_field_tag :kubun, 222 %>
      <% end %>
    </tb>
  </tr>
</table>
<p> <%= link_to '戻る', '/document' %> </p>