<h1 align="center">大学</h1>
<table width=100% align="center">
  <tr hight=30% width=100%>
    <td align="center">４年制大学</tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">短期大学</tb>
　</tr>
  <tr>
    <td align="center">学部</tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">学部</tb>
  </tr>
  <tr>
  <td align="center"><%= link_to '国公立', '/document6' %></tb>
    <td align="center"><%= link_to '４年制大学', '/document5' %></tb>
    <td align="center"><%= link_to '短期大学', '/document7' %></tb>
    <td align="center"><%= link_to '国公立', '/document8' %></tb>
  </tr>
  <tr>
    <td align="center">私立</tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">私立</tb>
  </tr>
  <tr>
    <td align="center">学部</tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">学部</tb>
  </tr>
  <tr>
    <td align="center">学校名</tb>
    <td align="center"></tb>
    <td align="center"></tb>
    <td align="center">学校名</tb>
  </tr>
</table>
<p> <%= link_to '戻る', '/document' %> </p>