<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<br>
<p align="center"><font size=6>CCBちゃんねる</font></p>
<br>
<h2 align="center"></h2>
<br>

<%= form_with url: '/login' do |f| %>
  <p align="center"><%= f.label :name,'ユーザーネーム' %></p>
  <p align="center"><%= f.text_field :account %></p>
  <p align="center"><%= f.label :password, 'パスワード' %></p>
  <p align="center"><%= f.password_field :password %></p>
  <p align="center"><%= f.submit "ログイン" %></p>
<% end %>