<table width=100% align="center">
  <tr hight=30% width=100%>
  <% if @user.schoolyear >= 1 %>
    <td align="center"><%= link_to '掲示板', '/board' %></td>
    <% else %>
    <td align="center">掲示板</td>
    <% end %> 
    <td align="center"><%= link_to '進路資料', '/document' %></td>
  </tr>
  <tr>
    <td align="center"><%= link_to '検定・予定・提出物', '/guidance' %></td>
    <td align="center"><%= link_to '個別トーク', '/talk' %></td>
  </tr>
  <tr>
    <td align="center"><%= link_to'プロフィール', '/user_top' %></td>
    <td align="center"><%= link_to 'ログアウト',logout_path,method: :delete %></td>
  </tr>

  <% if @user.IsTeacher? %>
    <tr>
      <td align="center"><%= link_to'進路資料追加', '/document_edit' %></td>
    </tr>
  <% end %>

</table>
