<table width=100% align="center">
  <tr hight=30% width=100%>
  <% if @user.IsTeacher? %>
    <td align="center"><%= link_to'進路資料追加', '/document_edit' %></td>
  <% else %>
    <td align="center"><%= link_to '掲示板', '/board' %></td>
  <% end %> 
    <td align="center"><%= link_to '進路資料', '/document' %></td>
  </tr>
  <tr>
    <td align="center"><%= link_to '検定・予定・提出物', '/guidance' %></td>
    <td align="center"><%= link_to '個別トーク', '/talk' %></td>
  </tr>
  <tr>
    <%= form_tag ('/user_top') do %>
      <td align="center"><%= submit_tag 'プロフィール'%></td>
    <% end %>
    <td align="center"><%= link_to 'ログアウト',logout_path,method: :delete %></td>
  </tr>

</table>
