<%= form_with(model: submission) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= submission.errors.count %>つのエラーがあります</h2>

      <ul>
        <% submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :提出物の名前 %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :締切 %>
    <%= form.date_select :deadline %>
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_field :remarks %>
  </div>

  <div class="field">
    <%= form.label :対象の学年 %>
    <%= form.number_field :year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
