<h1 align="center">進路資料　就職</h1>
<p> <%= link_to '戻る', '/document' %> </p>
<p> <%= link_to 'ホーム', '/' %> </p>

<%= form_tag('/courses_search') do %>
  <p>
  企業名（部分一致）
  <br>
  <%= text_field_tag 'search[name]' %><%= submit_tag '検索' %>
  </p>
<% end %>

<table border="1">
  <tr>
    <th>企業名</th>
    <th>職種</th>
    <th>年度</th>
    <th>試験内容</th>
    <th>備考</th>
    <th>登録日時</th>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= course.kinds %></td>
      <td><%= course.year %></td>
      <td><%= course.contents %></td>
      <td><%= course.remarks %></td>
      <td><%= course.create_at %></td>
    </tr>
  <% end %>
</table>